.container {
  width: 50%;
  padding: 16px;
}

.card {
  position: relative;
}

.card :global(.ant-card-head-title) {
  font-size: 20px;
}

.formItem :global(.ant-form-item-label > label) {
  font-size: 20px;
}

.input {
  font-size: 18px;
}

.checkbox {
  font-size: 16px;
}

.addButton {
  font-size: 20px;
  width: 100%;
  height: 50px;
  border: dashed 1px rgb(72, 178, 89);
  color: rgb(72, 178, 89);
}

.deleteButton {
  color: rgb(72, 178, 89);
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.fullWidth {
  width: 100%;
}
